.Day_box{
    width:600px;
    height:50px;
    text-align:center;
    border:px solid red;
    line-height:50px;

    position:absolute;
    top:300px;

}

@media screen and (max-width:1200px){
    .Day_box{
        width:600px;
        height:50px;
        line-height:50px;
        top:150px;
    
    }
}

@media screen and (min-width:1201px){

}

@media screen and (max-width:800px){
    .Day_box{
        width:600px;
        height:50px;
        line-height:50px;
        top:150px;
    
    }
}

@media screen and (min-width:801px){

}