.open_window{
    width:800px;
    height:800px;
    border:3px solid black;
    position:absolute;
    top:calc(100% - 50%);
    transform:translate(0,-50%);
    border-radius:20px;
    box-sizing:border-box;
    
}

.window_top{
    width:100%;
    height:30px;
    position:relative;
    top:0;
    border:px solid red;
    background-color:gray;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    
}
.window_top>span{
    margin-top:5px;
    margin-right:20px;
    font-size:20px;
    color:red;
}
.show_window{
    width:100%;
    height:770px;
    border:px solid blue;
    overflow:auto;
    overflow-x:hidden;
    background-color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    overflow:auto;
}



.show_img{
    width:90%;
    height:calc(90% / 2);
    border:px solid red;
}

.show_img>img{
    width:100%;
    height:100%;
}

.show_text{
    width:90%;
    height:calc(90% / 2);
    border:px solid red;
    overflow:auto;
}

.show_text>h1{
    padding-top:20px;
    padding-bottom:20px;
    margin-left:20px;
}
.show_text>span{
    margin-left:20px;
}

.git_box{
    width:100%;
    height:70%;
    border:px solid red;
    box-sizing:border-box;
    margin-top:5px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.git_box>div{
    width:calc(100% / 2);
    height:100%;
    border:px solid red;
    display:flex;
    align-items:center;
    justify-content:center;
}

.chrome img{
    width:90%;
    height:100%;
}
.github img{
    width:100%;
    height:100%;
}

@media screen and (max-width:1200px){
    .open_window{
        width:700px;
        height:500px;
        
    }
    
    .window_top{
        width:100%;
        height:30px;
        
    }
    .window_top>span{
        margin-top:5px;
        margin-right:20px;
        font-size:20px;
    }
    .show_window{
        width:100%;
        height:470px;
    }
}

@media screen and (min-width:1201px){

}

@media screen and (max-width:800px){
    .open_window{
        width:350px;
        height:500px;
        
    }
    
    .window_top{
        width:100%;
        height:30px;
        
    }
    .window_top>span{
        margin-top:5px;
        margin-right:20px;
        font-size:20px;
    }
    .show_window{
        width:100%;
        height:470px;
    }
}
@media screen and (min-width:801px){

}