.Weather_box{
    width:600px;
    height:50px;
    text-align:center;
    border:px solid red;
    line-height:50px;

    position:absolute;
    bottom:50px;

}

@media screen and (max-width:1200px){
    .Time_box{
        width:600px;
        height:150px;
        line-height:100px;
        font-size:150px;
    }
}

@media screen and (min-width:1201px){

}

@media screen and (max-width:800px){
    .Time_box{
        width:600px;
        height:125px;
        line-height:125px;
        font-size: 100px;
    }
}

@media screen and (min-width:801px){

}